*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #5f9ea0;
  color: #333;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;

  @media (width > 40em) {
  }
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  flex-grow: 1;
}

.logo {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

#logo {
  font-size: 3rem;
  color: #fff;
}

h1 {
  color: #98fb98;
  font-size: 1.3rem;
  margin-left: 1rem;

  @media (width > 40em) {
    font-size: 2rem;
  }
}

h1 {
  @media (width < 53em) {
    font-size: 1.5rem;
  }
}

.nav {
  display: flex;
  /* gap: 20px; */
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

#btnOpen {
  font-size: 3rem;

  @media (width > 40em) {
    display: none;
  }
}

#btnClose {
  font-size: 3rem;

  @media (width > 40em) {
    display: none;
  }
}

.menu {
  background-color: #98fb98;
  position: fixed;
  padding: 1.5rem;
  inset: 0 0 0 20%;
  translate: 100vw 0;
  transition: translate 0.3s ease-in-out;
  z-index: 1000;

  @media (width > 40em) {
    background-color: #5f9ea0;
    position: static;
    padding: 0;
    inset: auto;
    translate: 0 0;
    display: flex;
    gap: 20px;
  }
}

.menu.show {
  translate: 0;
}

.menu-open {
  display: block;
  margin-left: auto;
}

.menu-close {
  display: block;
  margin-left: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0;
  gap: 40px;
  font-size: 1.2rem;
  list-style: none;
  text-transform: uppercase;

  @media (width > 40em) {
    flex-direction: row;
    gap: 10px;
    margin: 0;
    padding: 0;
  }
}

.list-item {
  list-style: none;
  /* font-size: 1.2rem; */
  text-transform: uppercase;

  @media (width > 40em) {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: none;
  }
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-link:hover {
  color: #5f9ea0;

  @media (width > 40em) {
    color: #98fb98;
  }
}

.services-hero {
  text-align: center;
  margin: 2rem 0;
  background-image: url("hero-services.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 10rem 2rem;
  color: #fff;
  font-size: 1.5rem;
}

.services-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.services-hero h2,
.services-hero p {
  position: relative;
  /* margin-top: -2rem; */
  z-index: 1;
}

.services-hero img {
  display: none;
  max-width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
}

.services-grid {
  @media (width > 40em) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
    /* max-width: 400px; */
  }
}

.service-category {
  background-color: #98fb98;
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.service-category img {
  max-width: 100%;
  border-radius: 10px;
}

.service-category h3 {
  color: #5f9ea0;
  font-size: 1.8rem;
}

.service-category p {
  color: #333;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Program Services--------------------------------------------------- */
.program-services {
  background-color: #f9f9f9;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 10px;
}

.program-services h2 {
  color: #5f9ea0;
  margin-bottom: 1rem;
}

.program-services h3 {
  color: #333;
  margin-top: 1.5rem;
}

.program-services ul {
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.program-services li {
  margin-bottom: 0.5rem;
}

/* Program Services--------------------------------------------------- */

.get-started-cta {
  background-color: #5f9ea0;
  color: #fff;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  margin: 3rem 0;
  font-weight: bold;

  @media (width > 40em) {
    margin: 0 auto;
    gap: 1rem;
  }
}

.get-started-cta ol {
  text-align: left;
  list-style-position: inside;
  max-width: 600px;
  margin: 1rem auto;

  @media (width > 40em) {
    text-align: center;
  }
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #fff;
  color: #5f9ea0;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #98fb98;
  color: #fff;
}

footer {
  background-color: #98fb98;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.7rem;
  color: #333;
}

.footer-logo {
  color: #5f9ea0;
  font-size: 2rem;
}
